.item-view-container img{
  max-width: 100%;
  height: auto;
}

.rect{
  border-radius: 2px;
  border: 1px solid #e0e0e0a8;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  left: -1000px;
  /* opacity: 0; */
  position: absolute;
  top: -1000px;
}

.select-people{
  position: absolute;
}

.people-cover{
  background-color: rgba(173, 173, 173, 0.541);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.people-container{
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #1e1e27b8;
  box-shadow: 1px 1px 10px 0 #000000;
}

.people-container:hover{
  box-shadow: 1px 1px 7px 0 #CBCBCB;
  border: 1px solid #c7c7c79c;
}

.people-name{
  margin-left: 5px;
  flex-grow: 2;
}

.box{
  cursor: pointer;
  left: -1000px;
  /* opacity: 0; */
  position: absolute;
  top: -1000px;
  /* transform: translate(-50%, -50%); */
  background: #79797918;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(129, 129, 129);
  border: 1px solid #818181a9;
  color: white;
  padding: 20px;
}

.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box-taged{
  position: sticky;
}

/* .box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
} */


/* .box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);

} */

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 1px;
  background: #c5edffab;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
  transform-origin: right;

  }
}

.flex > div{
  margin-top: 5px;
}

.album-cover{
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
}

.album-name{
  background-color: #41484ea1;
  margin-top: -76px;
  text-align: center;
  width: 100%;
}

.albums-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.album-container{
  width: 130px;
  height: 130px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 0 #000000;
}

.album-container:hover {
  box-shadow: 1px 1px 7px 0 #CBCBCB;
}
