footer{
  background-color: #282f33;
  color: #ccc;
  flex-shrink: 0;
  padding: 8px;
  text-align: center;
}

.content {
  flex: 1 0 auto;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  color: #ccc;
}

li { list-style: none; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
a { text-decoration: none; }


/** Nav bar **/

nav{
  background-color: #282f33;
  color: #ccc;
}

nav a{
  color: #ccc;
  text-decoration: none;
}

.nav-deskop{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav-left{
  display:flex;
}

.nav-item{
  padding: 8px;
}

.nav-mobil-icon{
  width: 45px;
  height: 45px;
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  cursor: pointer;
  background-image: url('/assets/icon/menu.svg');
}

@media screen and (max-width: 1024px){
  .nav-deskop{
    display: none;
  }
}

@media screen and (min-width: 1024px){
  .nav-mobil{
    display: none;
  }
}

.user-name{
  padding-right: 10px;
  display: inline-block;
}

.user-name::first-letter {
  text-transform: uppercase;
}

/** inputs **/


